.box-messages{
  wdith:100%;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
}

.box-messages input{
  padding:20px;
  outline: 0;
  border-radius:4px ;
  border : 1px solid #2c2c2c;
  width:100%;

}

.box-messages button{
  padding: 15px;
  background: #3676ff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  border:1px solid ;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.5s;

}
.box-messages button:hover{
  opacity: 0.8;
}
